@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --dark: #2f3640;
    --white: #ffffff;
    --yellow: #f1c40f;
    --blue: #00a8ff;
    --green: #4cd137;
    --purple: #8c7ae6;
}

* {
    margin: 0;
    padding: 0;
    background: var(--dark);
    color: #ffffff;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

.title{
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    width: fit-content;
    margin: 10px auto;
    color: #f1c40f;
    font-size: 7em;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-board{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    height: 500px;
}

.board-btn{
    width: 250px;
    height: 250px;
    background: var(--white);
    border: solid 1px var(--white);
}

.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px;
    font-size: 3em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover{
    background: var(--white);
    color: var(--dark);
    transition-duration: 0.4s;
}

.hide{
    display: none;
}

#nw{
    border-top-left-radius: 100%;
}
#ne{
    border-top-right-radius: 100%;
}
#sw{
    border-bottom-left-radius: 100%;
}
#se{
    border-bottom-right-radius: 100%;
}

.az{
    background: var(--blue);
}
.vio{
    background: var(--purple);
}
.ama{
    background: var(--yellow);
}
.verd{
    background: var(--green);
}

.luz{
    background: var(--white);
}
